In [1]:
import pandas as pd
import numpy as np

In [2]:
df1 = pd.read_csv('../Data_Cleaned/thong_tin_bds_thang_6_1_200_cleaned.csv')
df2 = pd.read_csv('../Data_Cleaned/thong_tin_bds_thang_6_201_400_cleaned.csv')

In [3]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3906 entries, 0 to 3905
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   URL                  3906 non-null   object
 1   Người bán            3906 non-null   object
 2   Loại người bán       3906 non-null   object
 3   Số phòng ngủ         3906 non-null   object
 4   Hướng                3906 non-null   object
 5   Kiểu nhà             3906 non-null   object
 6   Giá                  3906 non-null   float64
 7   Giá mỗi m2           3906 non-null   float64
 8   Diện tích            3906 non-null   float64
 9   Giấy tờ pháp lý      3906 non-null   object
 10  Số phòng vệ sinh     3906 non-null   object
 11  Tình trạng nội thất  3906 non-null   object
 12  Số tầng              3906 non-null   int64
 13  Đường/Phố            3904 non-null   object
 14  Phường/Xã/Thị trấn   3906 non-null   object
 15  Quận/Huyện           3906 non-null   object
 16  Thành phố            3906 non-null   object
dtypes: float64(3), int64(1), object(13)
memory usage: 518.9+ KB

In [4]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3923 entries, 0 to 3922
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   URL                  3923 non-null   object
 1   Người bán            3923 non-null   object
 2   Loại người bán       3923 non-null   object
 3   Số phòng ngủ         3923 non-null   object
 4   Hướng                3923 non-null   object
 5   Kiểu nhà             3923 non-null   object
 6   Giá                  3923 non-null   float64
 7   Giá mỗi m2           3923 non-null   float64
 8   Diện tích            3923 non-null   float64
 9   Giấy tờ pháp lý      3923 non-null   object
 10  Số phòng vệ sinh     3923 non-null   object
 11  Tình trạng nội thất  3923 non-null   object
 12  Số tầng              3923 non-null   int64
 13  Đường/Phố            3922 non-null   object
 14  Phường/Xã/Thị trấn   3923 non-null   object
 15  Quận/Huyện           3923 non-null   object
 16  Thành phố            3923 non-null   object
dtypes: float64(3), int64(1), object(13)
memory usage: 521.2+ KB

In [5]:
# Nối dữ liệu
merged_df = pd.concat([df1, df2], ignore_index=True)

# Lưu vào file mới
merged_df.to_csv('../Data_Cleaned/thong_tin_bds_thang_6_1_400_cleaned.csv', index=False, encoding='utf-8-sig')

print("Dữ liệu đã được nối và lưu vào file thong_tin_bds_thang_6_1_400.csv")

Dữ liệu đã được nối và lưu vào file thong_tin_bds_thang_6_1_400.csv